.Fix-footer .footer-left,
.Fix-footer .footer-center,
.Fix-footer .footer-right {
  width: 100%;
  margin-bottom: 10px;
}
.Fix-footer{
    background-color: #FFFFFF;
    padding: 13px 0px 10px 10px;
    border-top: 1px solid #E0E0E0
}
.text-muted{
font-weight: 500;
font-size: 15px;
line-height: 100%;
letter-spacing: 0.3px;
color: #6F6F6F !important;;
}
@media (min-width: 768px) {
  .Fix-footer .footer-left {
    width: 33.33%;
  }
  .Fix-footer .footer-center {
    width: 33.33%;
  }
  .Fix-footer .footer-right {
    width: 33.33%;
  }

  .Fix-footer .footer-left,
  .Fix-footer .footer-center,
  .Fix-footer .footer-right {
    margin-bottom: 0;
  }
}
